fastapi>=0.117.1
httpx>=0.28.1
uvicorn
yt-dlp[default]
yt-dlp-ejs
ytmusicapi
python-dotenv
aiofiles
psutil
orjson
uvloop
watchdog
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
redis